body {
    background: url(../images/bg-main.gif) repeat;
    font-size: 16px;
}

.navbar-default {
    background: #e75424;
}

.navbar-brand {
    padding: 5.5px 15px;
}

.dropdown-header {
    color: #e75424;
}

#kra_row {
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

label,
.radio label,
.checkbox label,
.help-block {
    font-size: 14px;
}

table>thead>tr>th {
    font-size: 14px;
}

table>tbody>tr>td {
    font-size: 14px;
}

table>tfoot>tr>td {
    font-size: 14px;
    font-weight: bold;
}

.nav>li>a {
    font-size: 16px;
}